<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}HTML KickStart{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="description" content="" />
	  <meta name="author" content="" />		
		
	  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<script type="text/javascript" src="{{ config.STATIC_URL }}/js/prettify.js"></script>
		<script type="text/javascript" src="{{ config.STATIC_URL }}/js/kickstart.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ config.STATIC_URL }}/css/kickstart.css" media="all" />
		<link rel="stylesheet" type="text/css" href="{{ config.STATIC_URL }}/css/style.css" media="all" />

		{% block css %}{% endblock %}			
	</head>
	<body>
		<a id="top-of-page"></a>
		<div id="wrap" class="clearfix">
      {% block header %}{% endblock %}
      {% block main %}{% endblock %}
      {% block footer %}{% endblock %}
		
		</div><!-- END WRAP -->

	  <!-- JavaScript at the bottom for fast page loading -->

	  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"</script>
	  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js">\x3C/script>')</script>

	  {% block js %}{% endblock %}

	  <!--[if lt IE 7 ]>
	    <script src="js/libs/dd_belatedpng.js"></script>
	    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
	  <![endif]-->

	  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
	  <script>
	    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	    s.parentNode.insertBefore(g,s)}(document,'script'));
	  </script>
		
	</body>
</html>